Body {
  background-color: :dark-green;
}


/* mouse over link */
a:hover {
  background-color: darkgreen;
  color: white;
}


h1 {
  color:white;
  font-family: Georgia, serif;
  font-size: 40px;
  
h2 {
"Trebuchet MS", Helvetica, sans-serif;
color:black;
font-size: 34px;

}


h3 {
"Trebuchet MS", Helvetica, sans-serif;
color:black;
font-size: 24px;


}



p { 
font-family: Georgia, serif;
  color: black;
  margin: 20px;
  
table, th, td {
  border: 1px solid black;
}



}
